@model iMap.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div class="row">
    <div class="col-md-4 offset-md-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1>Forgot Password</h1>
        <br />
        
        <div class="alert-info">
            Enter your e-mail adress to create a new password.
            We are going to send the changing password link to your e-mail.
        </div>

        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div class="col-md-4 offset-md-4">
    <a  asp-action="Login">Back to Login Page</a>
</div>

