

<div class="modal" id="create-room-modal">
    <form asp-controller="Member" asp-action="CreateRoom" class="modal-body">
        <button type="button" class="close" onclick="closeModal()">X</button>
        <header>Create Room</header>
        <div>
            <input name="emre" > </input>
        </div>
        <footer>
            <button>Create</button>
        </footer>
    </form>
</div>